---
import ProjectCard from '@/components/projects/Card.astro'
import SectionDivider from '@/components/projects/Divider.astro'
import { getTopProjects } from '@/utils'

const projects = [
  {
    title: 'MERIDA',
    description: '🕵️ Secure platform for anonymous file sharing. ',
    link: 'https://github.com/alejyoo/merida',
    image: 'https://opengraph.githubassets.com/1/alejyoo/merida',
    alt: 'merida app screenshot'
  },
  {
    title: 'ALEJYOO.GITHUB.IO',
    description: '🎲 Personal site',
    link: 'https://github.com/alejyoo/alejyoo.github.io',
    image:
      'https://raw.githubusercontent.com/alejyoo/alejyoo.github.io/master/assets/cover-preview.png',
    alt: 'alejyoo.github.io app screenshot'
  }
]
---

<section class="mt-16 mb-16 border-t border-gray-300 pt-16">
  <h2 class="mb-12 text-3xl font-extrabold tracking-wide text-gray-800">
    Projects
  </h2>

  {
    projects.map((project, index) => (
      <>
        <div class="flex flex-col md:flex-row items-start mb-16">
          <div class="md:w-1/2" />
          <div class="w-full md:w-1/2">
            <ProjectCard {...project} />
          </div>
        </div>
        {index < projects.length - 1 && <SectionDivider />}
      </>
    ))
  }
</section>
