---
import Highlight from './Highlight.astro'
---

<article aria-labelledby="currently-heading" class="mt-8">
  <h2 id="currently-heading" class="text-3xl text-gray-800 font-extrabold">
    Currently
  </h2>
  <p class="mt-3 sm:mt-6">
    I'm constantly growing as a developer,
    <Highlight color="bg-sky-200">learning through documentation</Highlight>,
    videos, articles, and hands-on experimentation. I enjoy sharing my work,
    especially useful or interesting projects, which I regularly upload to my
    <a
      href="https://github.com/alejyoo"
      target="_blank"
      rel="noopener noreferrer"
      class="underline text-gray-800 font-semibold">GitHub</a
    >. Being actively involved in the <Highlight color="bg-violet-200"
      >open source community</Highlight
    > is important to me, as it allows me to learn from others and contribute. I'm
    currently finishing high school and plan to study computer science or a related
    field to increase my skills. My long-term goal is to make a <Highlight
      color="bg-teal-200">living from programming</Highlight
    >, gain independence, and create relevant software that has a real impact.
    <p>
      <a
        href="/about"
        aria-label="Learn more about Alejandro"
        class="mt-4 inline-block px-2 py-4 text-blue-400 hover:scale-105 transition font-bold"
        >More about me →</a
      >
    </p>
  </p>
</article>
