---
import Currently from '@components/about/Currently.astro'
import Header from '@components/about/Header.astro'
import Story from '@components/about/Story.astro'
---

<section aria-labelledby="about-title" class="mt-8 text-lg text-gray-600">
  <Header />
  <Story />
  <Currently />
</section>
