---
import Header from "./Header.astro";
import Story from "./Story.astro";
import Currently from "./Currently.astro";
---

<section aria-labelledby="about-title" class="mt-8 text-lg text-gray-600">
  <Header />
  <Story />
  <Currently />
</section>
