---
import Highlight from './Highlight.astro'
---

<article aria-labelledby="story-heading">
  <p class="mt-3 sm:mt-6">
    I began coding in 2019 driven by a curiosity to learn how software
    functions. What began as a pastime quickly evolved into a
    <Highlight color="bg-pink-200">genuine passion</Highlight>, and now I am
    committed to
    <Highlight color="bg-green-200">developing open source software</Highlight>.
  </p>
  <p class="mt-4 sm:mt-6">
    To continue improving my skills, I entered the world of
    <Highlight color="bg-purple-200">communities</Highlight> where I met people who
    shared their knowledge and motivated me to keep improving every day. Thanks to
    this, my
    <Highlight color="bg-blue-200">desire to grow as a developer</Highlight> only
    grew.
  </p>
  <p class="mt-4 sm:mt-6">
    I created a <Highlight color="bg-orange-200"
      >Spanish-speaking community</Highlight
    > to share my knowledge, and it turned out great — we reached over <Highlight
      color="bg-yellow-200">1,000 active users</Highlight
    >
    who were always helping each other.
  </p>
</article>
