---
const { label, href, display } = Astro.props
---

<div>
  <h2 class="text-xl font-semibold tracking-tight">{label}</h2>
  <a
    class="text-gray-700 hover:text-blue-400"
    href={href}
    target="_blank"
    rel="noopener noreferrer">{display}</a
  >
</div>
