---
const navbar = [
  {
    href: '/',
    label: 'home',
    color: 'hover:decoration-blue-500'
  },
  {
    href: '/about',
    label: 'about',
    color: 'hover:decoration-green-500'
  },
  {
    href: '#',
    label: 'skills',
    color: 'hover:decoration-orange-400'
  },
  {
    href: '/projects',
    label: 'projects',
    color: 'hover:decoration-purple-500'
  },
  {
    href: '/contact',
    label: 'contact',
    color: 'hover:decoration-red-400'
  }
]
---

<header class="flex items-center py-6 text-xl text-gray-700">
  <nav class="flex justify-center space-x-24">
    {
      navbar.map(({ href, label, color }) => (
        <a
          href={href}
          class={`font-bold hover:underline hover:decoration-2 ${color}`}
        >
          {label}
        </a>
      ))
    }
  </nav>
</header>
